# Group <%= title %>

<%= definition['description'] %>

<%- if definition['properties'] %>
<table>
  <tr>
    <th>Attribute</th>
    <th>Type</th>
    <th>Description</th>
    <th>Example</th>
  </tr>
  <%- extract_attributes(schema, definition['properties']).each do |(key, type, description, example)| %>
  <tr>
    <td><strong><%= key %></strong></td>
    <td><em><%= type %></em></td>
    <td><%= description %></td>
    <td><%= example %></td>
  </tr>
  <%- end %>
</table>

<%- end %>
<%- collection_links, instance_links = definition['links'].partition{|link| ['instances', 'create'].include? link['rel'] } %>
<%- unless collection_links.empty? %>
<%- path = collection_links[0]['href'].gsub(%r|(\{\([^\)]+\)\})|) do |ref|
  ref = ref.gsub('%2F', '/').gsub('%23', '#').gsub(%r|[\{\(\)\}]|, '')
  resource = ref.split('#/definitions/').last.split('/definitions/identity').first.gsub('-', '_')
  identity = schema.dereference(ref)
  if identity.has_key?('anyOf')
    '{' + resource + '_' + schema.dereference(ref)['anyOf'].map {|r| r['$ref'].split('/').last}.join('_or_') + '}'
  else
    '{' + resource + '_' + identity['$ref'].split('/').last + '}'
  end
end -%>
## <%= title %> Collection [<%= path %>]

<%- collection_links.each do |link, datum| %>
### <%= title %> <%= link['title'] %> [<%= link['method'] %>]

<%= link['description'] %>

+ Response <%= case link['rel']
when 'create'
  '201'
else
  '200'
end %> (application/json)

  <%- if link['rel'] == 'instances' %>
  <%= JSON.pretty_generate([serialization]) %>
  <%- else %>
  <%= JSON.pretty_generate(serialization) %>
  <%- end %>

<%- end %>
<%- end %>

<%- unless instance_links.empty? %>
<%- path = instance_links[0]['href'].gsub(%r|(\{\([^\)]+\)\})|) do |ref|
  ref = ref.gsub('%2F', '/').gsub('%23', '#').gsub(%r|[\{\(\)\}]|, '')
  resource = ref.split('#/definitions/').last.split('/definitions/identity').first.gsub('-', '_')
  identity = schema.dereference(ref)
  if identity.has_key?('anyOf')
    '{' + resource + '_' + schema.dereference(ref)['anyOf'].map {|r| r['$ref'].split('/').last}.join('_or_') + '}'
  else
    '{' + resource + '_' + identity['$ref'].split('/').last + '}'
  end
end -%>
## <%= title %> [<%= path %>]

<%- instance_links.each do |link, datum| %>
### <%= title %> <%= link['title'] %> [<%= link['method'] %>]

<%= link['description'] %>

+ Response <%= case link['rel']
when 'create'
  '201'
else
  '200'
end %> (application/json)

  <%- if link['rel'] == 'instances' %>
  <%= JSON.pretty_generate([serialization]) %>
  <%- else %>
  <%= JSON.pretty_generate(serialization) %>
  <%- end %>

<%- end %>
<%- end %>
